<table>
  <caption>Contact Info</caption>
  <tr>
    <th>First Name</th>
    <td><%= @first_contact.first_name %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @first_contact.last_name %></td>
  </tr>
    <th>Email</th>
    <td><%= @first_contact.email %></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%= @first_contact.phone %></td>
  </tr>
</table>