<% @contacts.each do |contact| %>
<table>
  <caption>Contact Info</caption>
  <tr>
    <th>Name</th>
    <td><%= contact.full_name %></td>
  </tr>
    <th>Email</th>
    <td><a href="mailto:<%= contact.email %>"><%= contact.email %></a></td>
  </tr>
  <tr>
    <th>Phone Number</th>
    <td><%= contact.phone %></td>
  </tr>
</table><br>
<% end %>